<a href="https://colab.research.google.com/github/falakj07/Pandas/blob/main/Study_of_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 9
## Name - Falak Jain
## PRN - 25070123047
## Batch ENTC A3
## Study of Pandas

In [1]:
# Introduction to Pandas
#Pandas:Panel data
#Structured Data
# Data cleaning

In [6]:
import pandas as pd
s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
# Create DataFrame
data = {
    "Name":["GEETALI","VANSHIKA","MIHIKA"],
    "Marks":[85,90,78]
}
df = pd.DataFrame(data)
df

       Name  Marks
0   GEETALI     85
1  VANSHIKA     90
2    MIHIKA     78

In [16]:
## FIND THE STRUCUTRE OF DATAFRAME
df.shape

(3, 2)

In [17]:
df.ndim

2

In [18]:
df.shape

(3, 2)

In [19]:
df.size

6

In [20]:
# Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [21]:
# Check Data types of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [22]:
## Access individual Column
df["Name"]

0     GEETALI
1    VANSHIKA
2      MIHIKA
Name: Name, dtype: object

In [23]:
df["Marks"]

0    85
1    90
2    78
Name: Marks, dtype: int64

In [25]:
#Access Specific Rows
df.loc[2]

Name     MIHIKA
Marks        78
Name: 2, dtype: object

In [28]:
# Add a new column
'''if marks 89-90-First class
If marks>90- Distinction
If marks > 80-90 Second class'''

df["Grade"] = ["First Class ", "Distinction ","Second Class "]
df

       Name  Marks          Grade
0   GEETALI     85   First Class
1  VANSHIKA     90   Distinction
2    MIHIKA     78  Second Class

In [30]:
## # Update the Data in DataFrame
# Change marks of student from Geetali to 88

df.loc[0,"Marks"] = 88
df

       Name  Marks          Grade
0   GEETALI     88   First Class
1  VANSHIKA     90   Distinction
2    MIHIKA     78  Second Class

In [31]:
# Delete any column
df.drop("Grade", axis=1,inplace=True) # TRUE - changes only temporily
df

       Name  Marks
0   GEETALI     88
1  VANSHIKA     90
2    MIHIKA     78

In [32]:
# Perform basic Statistical Analysis
mean1 =df["Marks"].mean()
mean1

np.float64(85.33333333333333)

In [34]:
mode1 =df["Marks"].mode()
mode1

0    78
1    88
2    90
Name: Marks, dtype: int64

In [35]:
min1=df["Marks"].min()
min1

78

In [37]:
max1=df["Marks"].max()
max1

90

In [38]:
# Apply condition ( Filtering)
# Display students scoring more than 80
df[df["Marks"] > 80]

       Name  Marks
0   GEETALI     88
1  VANSHIKA     90

In [40]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'C1':[11,21,np.nan] , 'C2':[15,np.nan,np.nan],'C3':[10,29,30]})
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  29
2   NaN   NaN  30

In [41]:
df1.isna () # Boolean function

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [42]:
df1.notna ()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [46]:
df1.isna().sum() # columnwise na values

C1    1
C2    2
C3    0
dtype: int64

In [47]:
df1.dropna() # nAN ROWS ARE DROPPED

     C1    C2  C3
0  11.0  15.0  10